In [1]:
import pandas as pd

In [2]:
movies = pd.read_json("movies.json")
movies.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [3]:
reviews = pd.read_json("reviews.json")
reviews.head()

   user_id  item_id  rating           timestamp
0        0       50       5 1997-12-04 15:55:49
1        0      172       5 1997-12-04 15:55:49
2        0      133       1 1997-12-04 15:55:49
3      196      242       3 1997-12-04 15:55:49
4      186      302       3 1998-04-04 19:22:22

In [4]:
#168 is holy grail, 173 is princess bride
# all the best movies are in a row, 172 is empire strikes back, 173 is princess bride, 174 is raiders of the lost arc, and 175 is brazil

In [9]:
reviews = reviews.drop('timestamp ')

KeyError: "['timestamp '] not found in axis"

In [8]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99710 entries, 0 to 99709
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    99710 non-null  int64
 1   item_id    99710 non-null  int64
 2   rating     99710 non-null  int64
 3   timestamp  99710 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(3)
memory usage: 3.0 MB